.disappear {
    display: none
}

h1 {
    font-family: 'IM Fell English SC', serif;
}

#startScreen {
    font-family: 'Bilbo', cursive;
    font-size: 30px;
}

#gameTitle {
    font-size: 65px;
}

#start {
    font-size: 1.5rem;
}